# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/

# Flutter
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/pubspec.lock

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
